USE [master]
GO
/****** Object:  Database [THIBANGLAIXE]    Script Date: 03/20/2022 8:04:26 PM ******/
CREATE DATABASE [THIBANGLAIXE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THIBANGLAIXE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUYEN\MSSQL\DATA\THIBANGLAIXE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THIBANGLAIXE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HUYEN\MSSQL\DATA\THIBANGLAIXE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THIBANGLAIXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THIBANGLAIXE]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[EMAIL] [varchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[CMND] [varchar](12) NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BODETHI]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODETHI](
	[MALOAIBANG] [int] NOT NULL,
	[MALOAIDE] [int] NOT NULL,
	[MABODETHI] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BODETHI_1] PRIMARY KEY CLUSTERED 
(
	[MABODETHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[MACAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[A] [nvarchar](30) NULL,
	[B] [nvarchar](30) NULL,
	[C] [nvarchar](30) NULL,
	[D] [nvarchar](30) NULL,
	[DAPAN] [nchar](10) NULL,
	[MA_LOAI_LI_THUYET] [int] NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[MACAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DE_THI]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DE_THI](
	[MABODETHI] [int] NOT NULL,
	[MACAUHOI] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_DE_THI_1] PRIMARY KEY CLUSTERED 
(
	[MABODETHI] ASC,
	[MACAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MAUSER] [varchar](50) NOT NULL,
	[MABODETHI] [int] NOT NULL,
	[MACAUHOI] [int] NOT NULL,
	[PHUONGAN] [nchar](1) NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[MAUSER] ASC,
	[MABODETHI] ASC,
	[MACAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_LUAT_GT]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_LUAT_GT](
	[MA_LOAI_LUAT_GT] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_LUAT_GT] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_LUAT_GT] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_LUAT_GT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_MEO]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MEO](
	[MA_LOAI_MEO] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_MEO] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAI_MEO] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_MEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIBANG]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBANG](
	[MALOAIBANG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIBANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIBANG] PRIMARY KEY CLUSTERED 
(
	[MALOAIBANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDE]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDE](
	[MALOAIDE] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDE] [nvarchar](50) NULL,
	[SOCAU] [int] NULL,
	[THOIGIAN] [int] NULL,
 CONSTRAINT [PK_LOAIDE] PRIMARY KEY CLUSTERED 
(
	[MALOAIDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAILITHUYET]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAILITHUYET](
	[MA_LOAI_LI_THUYET] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAILITHUYET] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI_LI_THUYET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUAT_GT]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUAT_GT](
	[MALUAT] [varchar](200) NOT NULL,
	[NOIDUNG] [nchar](10) NULL,
	[MA_LOAI_LUAT_GT] [int] NULL,
 CONSTRAINT [PK_LUAT_GT] PRIMARY KEY CLUSTERED 
(
	[MALUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEO]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEO](
	[MA_MEO] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[MA_LOAI_MEO] [int] NULL,
 CONSTRAINT [PK_MEO] PRIMARY KEY CLUSTERED 
(
	[MA_MEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[TRANGTHAI] [nchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN_ADMIN]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN_ADMIN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [nchar](30) NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_TAIKHOAN_ADMIN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 03/20/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[EMAIL] [varchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BODETHI]  WITH CHECK ADD  CONSTRAINT [FK_BODETHI_LOAIBANG] FOREIGN KEY([MALOAIBANG])
REFERENCES [dbo].[LOAIBANG] ([MALOAIBANG])
GO
ALTER TABLE [dbo].[BODETHI] CHECK CONSTRAINT [FK_BODETHI_LOAIBANG]
GO
ALTER TABLE [dbo].[BODETHI]  WITH CHECK ADD  CONSTRAINT [FK_BODETHI_LOAIDE] FOREIGN KEY([MALOAIDE])
REFERENCES [dbo].[LOAIDE] ([MALOAIDE])
GO
ALTER TABLE [dbo].[BODETHI] CHECK CONSTRAINT [FK_BODETHI_LOAIDE]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_LOAILITHUYET] FOREIGN KEY([MA_LOAI_LI_THUYET])
REFERENCES [dbo].[LOAILITHUYET] ([MA_LOAI_LI_THUYET])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_LOAILITHUYET]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_BODETHI] FOREIGN KEY([MABODETHI])
REFERENCES [dbo].[BODETHI] ([MABODETHI])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_BODETHI]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_CAUHOI] FOREIGN KEY([MACAUHOI])
REFERENCES [dbo].[CAUHOI] ([MACAUHOI])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_CAUHOI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CHI_TIET_DE_THI] FOREIGN KEY([MABODETHI], [MACAUHOI])
REFERENCES [dbo].[CHI_TIET_DE_THI] ([MABODETHI], [MACAUHOI])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_CHI_TIET_DE_THI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_USER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[USER] ([EMAIL])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_USER]
GO
ALTER TABLE [dbo].[LUAT_GT]  WITH CHECK ADD  CONSTRAINT [FK_LUAT_GT_LOAI_LUAT_GT] FOREIGN KEY([MA_LOAI_LUAT_GT])
REFERENCES [dbo].[LOAI_LUAT_GT] ([MA_LOAI_LUAT_GT])
GO
ALTER TABLE [dbo].[LUAT_GT] CHECK CONSTRAINT [FK_LUAT_GT_LOAI_LUAT_GT]
GO
ALTER TABLE [dbo].[LUAT_GT]  WITH CHECK ADD  CONSTRAINT [FKph6dn0ewcn3rgfg8464cvmehb] FOREIGN KEY([MA_LOAI_LUAT_GT])
REFERENCES [dbo].[LOAI_LUAT_GT] ([MA_LOAI_LUAT_GT])
GO
ALTER TABLE [dbo].[LUAT_GT] CHECK CONSTRAINT [FKph6dn0ewcn3rgfg8464cvmehb]
GO
ALTER TABLE [dbo].[MEO]  WITH CHECK ADD  CONSTRAINT [FK_MEO_LOAI_MEO] FOREIGN KEY([MA_LOAI_MEO])
REFERENCES [dbo].[LOAI_MEO] ([MA_LOAI_MEO])
GO
ALTER TABLE [dbo].[MEO] CHECK CONSTRAINT [FK_MEO_LOAI_MEO]
GO
ALTER TABLE [dbo].[MEO]  WITH CHECK ADD  CONSTRAINT [FKkvjh9fqw2xqra57214b19949w] FOREIGN KEY([MA_LOAI_MEO])
REFERENCES [dbo].[LOAI_MEO] ([MA_LOAI_MEO])
GO
ALTER TABLE [dbo].[MEO] CHECK CONSTRAINT [FKkvjh9fqw2xqra57214b19949w]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_USER] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[USER] ([EMAIL])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_USER]
GO
ALTER TABLE [dbo].[TAIKHOAN_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_ADMIN_ADMIN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[ADMIN] ([EMAIL])
GO
ALTER TABLE [dbo].[TAIKHOAN_ADMIN] CHECK CONSTRAINT [FK_TAIKHOAN_ADMIN_ADMIN]
GO
USE [master]
GO
